/*
Theme Name: My Voice
Theme URI: https://wordpress.org/themes/twentyseventeen/
Author: Professionals
Author URI: https://wordpress.org/
Description:My Voice brings your site to life.
Version: 1.3
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: myvoice
Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    float: left;
    margin: 0 3.5% 2.992em 0;
    padding: 0;
    position: relative;
    width: 31%;
    margin-left: 0;
}

.woocommerce ul.products li.product:nth-child(3n),
.woocommerce-page ul.products li.product:nth-child(3n) {
    margin-right: 0 !important;
}

.tnit-event-item:hover:after {
    opacity: 0.3 !important;
}

.tnit-modal-form .inner-holder input[type="text"],
.tnit-modal-form .inner-holder input[type="email"],
.tnit-modal-form .inner-holder input[type="password"] {
    color: #333 !important;
}

.inner-cart .text span {
    display: inline-block !important;
}

div.wpcf7-response-output {
    clear: both !important;
}

.woocommerce-page .tnit-main-content + .tnit-sidebar-outer {
    display: none !important;
}

form.woocommerce-checkout input[type="text"],
form.woocommerce-checkout input[type="email"],
form.woocommerce-checkout input[type="tel"] {
    font-size: 14px;
    border: 1px solid #eaeaea;
    height: 38px;
    float: left;
    width: 100%;
    margin-bottom: 15px;
    line-height: 38px;
    padding: 0 10px;
    color: #353744;
}

form.woocommerce-checkout textarea {
    font-size: 14px;
    border: 1px solid #eaeaea;
    float: left;
    width: 100%;
    margin-bottom: 15px;
    line-height: 38px;
    padding: 0 10px;
    color: #353744;
}

.widget_categories ul li a {
    text-transform: capitalize !important;
}

.tnit-appointment-form .btn-submit input[ type = "submit"] {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}
.woocommerce-result-count,
.woocommerce-ordering{
    display: none;
}
#commentform .stars-comment-rating,
#commentform .logged-in-as{
    margin-left: 15px;
}
.tnit-product-section #content div.product div.images,
.tnit-product-section div.product div.images,
.tnit-product-section #content div.product div.images,
.tnit-product-section div.product div.images{
    width: 100% !important;
}
#product-carousel-wc{
    display: block;
}
.no-featured-image.col-xs-12{
    margin-left: 25px;
}
.tnit-topbar-holder .btn-cart .num {
    background-color: #353744 !important;
}